
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:inherit;
    transition: all 0.3s ease;
}
.material-symbols-outlined{
   cursor: pointer;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}    
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.5rem;
}
header h1 {
    font-size: 1.7rem;
}   
header nav ul{
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    list-style: none;
    position: absolute;
    z-index:1;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    width: 100%;
    height: 100vh;
    font-weight:bold;
}

header nav ul #close-btn{
    position: absolute;
    top: 2rem;
    right: 3rem;
}
header #dark-mode-btn{
    background-color:black;
    color:white;
    transition: all 0.3s ease;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position:fixed;
    right: 1rem;
    top:5.5rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    background-color:#f0f0f0;
    padding: 2rem;
}
main h2 {
    font-size: 2rem;
    margin: 1.5rem 0;
    color: rgb(19, 19, 194);
}
main p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
main div {
    display: flex;
    gap: 1rem;
}
main button {
    padding: 0.5rem 1rem;
    background-color: rgb(19, 19, 194);
    color: #fff;
    border:1px solid rgb(19, 19, 194);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
}
main #work-together-btn {
    background-color: transparent;
    color:black;
    border:1px solid rgb(199, 176, 176);
}
#projects,#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    gap: 1rem;
    padding: 1.5rem 1.2rem;
}
#projects div {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    cursor: pointer;
}
#projects div article {
   color:rgb(241, 161, 12);
}
#projects div article span{
    font-size: 3rem;
}
#projects div article h2{
    font-size: 1.7rem;
    margin: 0.5rem 0;
}
#projects div article p,#about article p{
    font-size: 1rem;
    margin-top: 1rem;
    color:black;
    opacity: 0.7;
    line-height: 1.45;
}
#projects div article p span{
    font-size: 1rem;
    color: rgb(14, 85, 192);
    opacity: 1;
    font-weight: bold;
}
#projects button,#about button {
    padding: 0.5rem 1rem;
    background-color: rgb(19, 19, 194);
    color: #fff;
    border:1px solid rgb(19, 19, 194);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
}
footer {
    background:whitesmoke;
    padding: 1.6rem;
    color:black;
    
}
footer nav {
    display: flex;
    gap: 5rem;
}
footer nav div ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    list-style: none;
}
footer nav div ul li{
    opacity: 0.8;
}
footer nav ul h3{
   padding: 1rem 0;
}
footer hr {
    border: 1px solid black;
    margin: 1.2rem 0;
    width: 100%;
}
footer p {
        text-align: center;
    }

/*----------desktop styling-------------*/
@media (min-width:1024px){
    header {
        padding:1.5rem 7rem;
    }
    header #menu-btn ,header #close-btn{
        display: none;
    }
    header nav ul{
        display: flex;
        flex-direction: row;
        position: static;
        background-color: inherit;
        color: inherit;
        height: fit-content;
        font-weight: normal;
    }
    header nav ul li:hover{
        border-bottom: 2px solid rgb(19, 19, 194);
    }
    main {
        padding: 2rem 0;
        padding-left: 8rem;
    }
    main h2 {
        font-size: 3.5rem;
    }
    main p {
        font-size: 1.2rem;   
    }
    main button {
        padding: 0.7rem 1.3rem;
        font-size: 1.2rem;
    }
    #projects button,#about button {
         padding: 0.6rem 1.2rem;
        font-size: 1rem;
    }
    main button:hover,#projects button:hover,#about button:hover {
        background-color: transparent;
        color: rgb(19, 19, 194);
        border:1px solid rgb(19, 19, 194);
        scale: 1.05;
    }
    #projects div {
        flex-direction: row;
        gap: 10rem;
        max-width: 800px;
    }
    #projects h2,#about h2 {
        font-size: 2rem;
    }
    #about {
        padding: 2rem 15rem;
    }
    footer nav {
        justify-content: center;
        gap: 10rem;
    }
    footer nav div ul{
        padding: 1.5rem;
        flex-direction: row;
        gap:1rem;
    }
    footer nav div ul li:hover{
        color: rgb(194, 99, 9);
    }
}
   
/*dark mode styling*/
