
*{
    padding: 0;
    margin: 0;

}
button,li,span{
    cursor: pointer;
}
body {
    background-color:rgb(13, 1, 34);
    color: white;
    font-family: sans-serif;
}
header {
    padding:3rem 1.5rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
header h1{
    font-size: 1rem;
    font-weight: normal;
}
header nav {
    display: flex;
    gap: 2rem;
}
header nav ul {
  list-style: none;
  display: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header nav ul li {
    font-weight: 600;
}
header nav #menu-icon {
    display:inline;
}

main {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;


}
main h2 {
    font-size: 3rem;
    font-weight: 600;

}
main h3 {
        font-weight: 600;
        line-height: 1.5;
        padding:0 1rem;

}
main section {
    padding: 0.7rem;
}
main button {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius:4rem;
    margin:0.5rem 0;
    color: white;
    background-color:rgb(39, 39, 56);
}
#result {
    margin: 3rem 1rem;
}
#result div{
    padding:5% 0.4rem;
    background-color:rgb(19, 11, 54) ;
    border: 1px solid rgb(68, 30, 134);
    border-radius:0.8rem;
    
}
#result div p {
   font-family:sans-serif;
   line-height: 1.6;
}


footer {
    position: relative;
    bottom: 0.5rem;
    padding: 0.5rem;
}
footer div {
    padding:1.1rem 0.5rem;
    background-color:rgb(25, 17, 56);
    border: 1px solid rgb(68, 30, 134);
    border-radius:0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
footer input {
    background-color:rgb(25, 17, 56);
    color: white;
    font-size: 1.1rem;
    padding: 0.3rem 0;
    width: 40%;
    border: none;
    font-family:sans-serif;
}
footer input:focus{
    outline: none;
}
footer button {
        background-color:rgb(54, 54, 82);
        width: 40px;
        height: 40px;
        color: white;
        border: none;
        border-radius: 50%;
}
footer #send-icon {
    background-color:rgb(143, 59, 221);
}

/* Add these styles at the end of your file for vertical chat layout */
#result p {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.user-msg, .bot-msg {
    display: block;
    width: fit-content;
    max-width: 80%;
    word-break: break-word;
    margin-bottom: 0.5em;
}

.user-msg {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 0;
}

.bot-msg {
    align-self: flex-start;
    margin-right: auto;
    margin-left: 0;
}

article p{
    text-align: center;
    width: 100%;
    line-height:1.5;
}



/*desktop styles*/
@media (min-width:720px){
    header nav ul {
        display: flex;
        gap: 1.5rem;
    }
    main {
        padding:2% 18%;
    }
    #result {
      margin:2% 20%;
    }
    #result div {
      padding: 5%;
    }
    footer {
        width: 60%;
        left: 20%;
    }
    footer input {
        width: 75%;
        font-weight:500;
    }
}